{% extends 'news/base.html' %}
{% load static %}

{% block content %}
    <h2>Web site ga kirish - login</h2>
    <p>Iltimos, saytga kirish uchun quyidagi formani to'ldiring</p>
    <h5>Agar parolingizni unutgan bo'lsangiz, uni <a href="{% url 'password_reset' %}">tiklang</a></h5>

    <form method="POST"> {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Login</button>
        <button type=""><a href="{% url 'user_register' %}" class="btn btn-primary">Ro'yxatdan o'tish</a></button>
    </form>
{% endblock %}