{% extends 'news/base.html' %}
{% load static %}

{% block content %}
    <h2>Parolni tiklash</h2>
    <p>Parolingizni o'zgartirish uchun, quyidagi formani to'ldiring</p>

    {% if validlink %}
        <p>Iltimos yangi parolni ikki marta to'ldiring</p>
        <form method="POST"> {%csrf_token%}
            {{form.as_p}}
            <p><button type="submit">Parolni almashtirish</button></p>
        </form>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan bo'lishi va ishlatilish vaqti o'tgan bo'lishi mumkin</p>
    {% endif %}

{% endblock %}