{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block content %}

<!--    <h1>{{news.title}}</h1>-->

<!--    <p>Published date: {{news.published_time}}</p>-->
<!--    <p>{{news.body | linebreaks}}</p>-->

    <style>
        .center {
          display: block;
          margin-left: 20%;
          margin-right: auto;
          width: 100%;
        }
        input[type=text] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid red;
          border-radius: 4px;
        }
    </style>
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="text-align: center">{{news.title}}</h1>
                    <h5>{{news.published_time}} | <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %} | Izohlar soni {{comment_count}}</h5>
                    <img src="{{ news.image.url }}" alt="{{news.title}}" class="center">
                </div>
                <div class="col-sm-8">
                    <p style="font-weight: bold; text-align: justify">{{news.body}}</p>
                </div>
            </div>
        </div>
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <div class="card-footer text-center">
        <a href="{% url 'news_update' news.slug %}" class="btn btn-success">Tahrirlash</a>
        <a href="{% url 'news_delete' news.slug %}" class="btn btn-danger">O'chirish</a>
    </div>
    {% endif %}

    {% for comment in comments %}
    <div class="comments" style="padding: 10px">
        <p class="font-weight-bold">
            {{comment.user}}
            <span class="text-muted font-weight-normal">
            {{comment.created_time}}
            </span>
        </p>
        {{comment.body | linebreaks}}
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                <h3>Izoh qoldirish</h3>
                <form method="POST" style="margin-top: 1.3em;"> {% csrf_token %}
                    {{comment_form.as_p}}
                    <button type="submit" class="btn btn-primary btn-lg">
                        Yuborish
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="card-body">
            <p class="text-danger">
                Faqatgina ro'yxatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin
            </p>
            <p>Izoh qoldirish uchun <a href="{% url 'login' %}" style="font-weight:bold">Saytga kiring</a> yoki <a href="{% url 'user_register' %}" style="font-weight:bold">Ro'yxatdan o'ting</a> </p>
        </div>
    {% endif %}

{% endblock %}