{% extends 'news/base.html' %}
{% load static %}
{% block content %}

<!--    <h1>{{news.title}}</h1>-->

<!--    <p>Published date: {{news.published_time}}</p>-->
<!--    <p>{{news.body | linebreaks}}</p>-->

    <style>
        .center {
          display: block;
          margin-left: 20%;
          margin-right: auto;
          width: 100%;
        }
    </style>
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="text-align: center">{{news.title}}</h1>
                    <img src="{{ news.image.url }}" alt="{{news.title}}" class="center">
                </div>
                <div class="col-sm-8">
                    <p style="font-weight: bold; text-align: justify">{{news.body}}</p>
                </div>
            </div>
        </div>
{% endblock %}